#ignore output
output/
#ignore input
input/
#ignore gffutils tair relational database
*tair*
#ignore fastq and zipped files
*.fq
*.gz
#ignore vcfs
vcfs/
#ignore references
references/
#ignore other_data
other_data/
#ignore tsvs
*.tsv
#ignore csvs
*.csv
#ingnore images
*.png
#ignore jupyter notebook changes
*.ipynb*
#ignore logs
*.log*
#ignore python cache
*.pyc*
#ignore sqldb
*.db*
