#ignore output
*data/output/*
#ignore input
*data/input/*
#ignore gffutils tair relational database
*tair*
#ignore fastq and zipped files
*.fq
*.gz
#ignore vcfs
*data/vcfs/
#ignore references
*data/references/*
#ignore other_data
*other_data/
#ignore tsvs
*.tsv
#ignore csvs
*.csv
#ingnore images
*.png
#ignore jupyter notebook changes
*.ipynb*
#ignore logs
*logs/*
*.log*
#ignore python cache
*.pyc*
#ignore sqldb
*.db*
#ignore sam files
*.sam
#ignore bam files
*.bam
#ignore pycache
*/__pycache__/*
#ignore testfiles
*_test.py
#ignore vscode
*.vscode
#Ignore config.ini
*.ini
