<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>PyAtBSA</title>
</head>

<body>
    <h1>PyAtBSA</h1>
    <form method="post">
        <h1>Species</h1>
        <div class="button-container">
            <button type="button" onclick="showInput('urlInput')">URL</button>
            <button type="button" onclick="showInput('fileInput')">On this Device</button>
        </div>
        <div id="urlInput">
            <label for="reference_source">Enter URL:</label>
            <input type="text" name="reference_source">
        </div>
        <div id="fileInput">
            <label for="reference_source">Upload File:</label>
            <input type="file" name="reference_source">
        </div>

        <h1>Reference Genome</h1>
        <div class="button-container">
            <button type="button" onclick="showInput('urlInput')">URL</button>
            <button type="button" onclick="showInput('fileInput')">On this Device</button>
        </div>

        <h1>Threads</h1>
        <select name="threads_limit">
            {% for i in range(1, available_threads + 1) %}
                <option value="{{ i }}" {% if i == threads_limit %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    
        <label class="cleanup-container">
            <input type="checkbox" name="cleanup" {% if cleanup %}checked{% endif %}>
            <span>Cleanup Intermediate Files</span>
        </label>



        <br><br>
        <button type="

                <button type="submit">Submit</button>
    </form>

    <form action="{{ url_for('run_create_experiment_dictionary') }}" method="post">
        <button type="submit">Detect</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="{{ url_for('run_vcf_file_generation') }}" method="post">
        <button type="submit">Align</button>
    </form>

    <form action="{{ url_for('run_data_analysis') }}" method="post">
        <button type="submit">Run Data Analysis</button>
    </form>

    <script>
        function showInput(inputId) {
            document.getElementById(inputId).style.display = "block";
        }
    </script>
</body>
</html>

