<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detect All Reads</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        button {
            padding: 5px 20px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <form action="{{ url_for('run_create_experiment_dictionary') }}" method="post">
        <button type="submit">Detect</button>
    </form>
</body>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
<body>
    <form action="{{ url_for('run_vcf_file_generation') }}" method="get">
        <button type="submit">Align</button>
    </form>
<body>
    <form action="{{ url_for('run_data_analysis') }}" method="get">
        <button type="Analyze"></button>
    </form>


</html>
